# Arquivos de ambiente (credenciais)
.env

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Sistema
.DS_Store
Thumbs.db

# Compilações temporárias
dist/
build/
